ucTwitterStream/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TweetEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="username" type="xs:string"></xs:element>
        <xs:element name="message" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>